@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap");
body {
  font-family: Cormorant Garamond;
}
header {
  width: 1440px;
  margin: 0 auto;
}

img {
  width: 100%;

  height: 100%;
  transition: 0.5s;
}
img:hover {
  transform: scale(1.04);
}

.header_title_name {
  color: #1b1818;
  text-align: left;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 0.6875rem; /* 11px / 16px = 0.6875rem */
  margin-top: 3.625rem;
}
header {
  background: #f9f2e2;
  display: flex;
}
h1 {
  color: #1b1818;
  text-align: center;

  font-size: 4rem; /* 64px / 16px = 4rem */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  max-width: 46.125rem; /* 738px / 16px = 46.125rem */
  margin-top: 10.625rem;
}
.header_text {
  color: #1b1818;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header_buttom {
  cursor: pointer;
  margin: 0 auto;
  margin-top: 2rem;
  font-family: Cormorant Garamond;
  font-size: 1.12rem;
  color: #1b1818;
  border-radius: 0.25rem;
  background: #cfc0ab;
  display: flex;
  text-decoration: none;
  width: 17.1rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.header_buttom:hover {
  background-color: #e1d0b9;
}
/* adaptive */
@media (min-width: 375px) and (max-width: 768px) {
  *,
  * {
    margin: 0;
    padding: 0;
  }

  header {
    width: 100%;
    text-align: center;
    background: #1b1818;
    background-image: url("../img/ava-final-mobile.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .header_img {
    display: none;
  }
  .text {
    margin: 0 auto;
  }
  .blur {
    margin-top: 95vw;
    margin-bottom: 14vw;
  }
  h1 {
    color: #cfc0ab;
    font-size: 10vw;
  }
  .header_title_name {
    margin-top: 9.5vw;
    font-size: 6.5vw;
    text-align: center;
  }
  .header_buttom {
    margin-top: 8vw;
    font-size: 5vw;
    width: 70vw;
  }
  .header_text {
    margin: 0 auto;
    margin-top: 5vw;
    font-size: 5vw;
    width: 57vw;
    color: #cfc0ab;
  }
}
@media (min-width: 768px) {
  header {
    max-height: 800px;
  }
}
