.new-slider-container {
  position: relative;
  width: 1200px;
  margin-top: 32px;
  padding-bottom: 86px;
}

.new-slide {
  display: flex;

  border-radius: 4px;
  border-left: 2px solid #1b1818;
  padding-left: 10px;
}
.img-title {
  display: flex;
  align-items: center;
}
.title-name {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 20px;
}
.new-slide img {
  width: 70px;
  border-radius: 50%;
  height: auto;
}

.text-slyder-overlay {
  transition: max-height 0.5s ease; /* Добавим плавное анимированное изменение */
  transition: max-height 0.5s ease; /* Добавим плавное анимированное изменение */
  margin-top: 18px;
  color: #1b1818;
  font-family: Poiret One;
  font-size: 20px;
  font-weight: 400;
}
/* sss */
.new-slide-text {
  max-height: 455px;
}
.overlay {
  text-align: right;
}
.show-more-button {
  color: #1b1818;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  font-family: Cormorant Garamond;
  cursor: pointer;
  margin-top: 18px;
}

/* ssss */
.slick-dots {
  bottom: -75px;
  margin-bottom: 56px;
}
.slick-dots li button:before {
  top: 32px !important;
}
.slick-dots li button:hover {
  background: none !important;
}

.text-container {
  max-height: 100px;

  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height 0.5s ease;
}

.text-container.open {
  max-height: 415px; /* или другое значение, чтобы показать весь текст */
}

.text-slyder-overlay {
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.text-container {
  max-height: 165px;
  overflow: hidden;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  transition: max-height 0.5s ease;
}

.text-container.open {
  max-height: none;
}
.btntoggle {
  margin-top: 18px;
  background: none;
  border: none;
  font-family: Cormorant Garamond;
  font-size: 18px;
  font-weight: 700;
}
.btnblock {
  display: flex;
  justify-content: end;
}
@media (min-width: 375px) and (max-width: 768px) {
  .img-title {
    justify-content: center;
  }
  .new-slider-container {
    margin-top: 18px;

    width: 100%;
  }
  .text-slyder-overlay {
    margin-top: 12px;
    font-size: 18px;
  }
  .new-slide-text {
    max-height: 455px;
    max-width: 100%;
  }
  .text-slyder-overlay {
    font-size: 18px;
  }
}
