.main_block {
  width: 1440px;
  background: linear-gradient(
    110deg,
    #cfc0ab 7.11%,
    rgba(207, 192, 171, 0) 100%
  );
  margin: 0 auto;
}
.container_mainblock {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}
.main_block_title {
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 64px;
}
.lesson {
  margin-top: 32px;
}
.lesson_title_one {
  text-align: center;
  font-family: Poiret One;
  font-size: 32px;
  font-weight: 400;
  text-decoration-line: underline;
}
.lesson_name {
  font-size: 30px;
  text-align: center;
  margin-top: 24px;
}
.about_lesson {
  margin-top: 26px;
  font-family: Poiret One;
  font-size: 32px;
  font-weight: 400;
  text-decoration-line: underline;
}
.block_text {
  margin-top: 24px;
}
.lesson_text {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 12px;
  padding-left: 4px;
  height: 51px;
  font-family: Poiret One;
  font-size: 24px;
  font-weight: 400;
  border-left: 4px solid #b8aa96;
  max-width: 762px;
}
@media (min-width: 375px) and (max-width: 768px) {
  .main_block {
    width: 100%;
  }
  .container_mainblock {
    width: 100%;
    padding: 0 16px;
  }
  .main_block_title {
    padding-top: 46px;
    font-size: 24px;
  }
  .lesson_title_one {
    font-size: 24px;
  }
  .lesson {
    margin-top: 24px;
  }
  .lesson_name {
    font-size: 24px;
    margin-top: 16px;
  }
  .about_lesson {
    margin-top: 11px;
    font-size: 20px;
    text-align: center;
  }
  .block_text {
    margin-top: 12px;
  }
  .lesson_text {
    height: 100%;
    /* heit можно зафиксировать в адаптиве */
  }
  .main_block_title {
    font-size: 24px;
  }
}
/* lesson 2 */
.lesson_all {
  margin-top: 68px;
}
.lesson_number {
  text-align: center;
  font-family: Poiret One;
  font-size: 32px;
  font-weight: 400;
  text-decoration-line: underline;
  margin-top: 32px;
}
.lesson_title {
  text-align: center;
  margin-top: 32px;
  font-size: 30px;
}
.lesson_subtitle {
  text-align: center;
  margin-top: 24px;
}
.lesson_video {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}
.lesson_img {
  margin-top: 24px;
  gap: 24px;
  display: flex;
}
.about_lesson_slayder {
  margin-top: 32px;
  /* border-bottom: 3px solid black; */
  font-size: 32px;
  max-width: 416px;
  font-family: Poiret One;
  font-weight: 400;
  text-decoration: underline;
}
.lesson_text_slayder {
  font-family: Poiret One;
  font-size: 22px;
  border-left: 4px solid #b8aa96;
  height: 51px;
  display: flex;
  align-items: center;
  padding-left: 4px;
  margin-top: 14.5px;
  max-width: 565px;
  font-weight: 400;
}
.lesson_text_slayder_mod {
  font-family: Poiret One;
  font-size: 22px;
  border-left: 4px solid #b8aa96;
  height: 51px;
  display: flex;
  align-items: center;
  padding-left: 4px;
  margin-top: 24px;
  max-width: 390px;
  font-weight: 400;
}
.lesson_text_slayder_mod2 {
  font-family: Poiret One;
  font-size: 22px;
  border-left: 4px solid #b8aa96;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding-left: 4px;
  margin-top: 24px;
  max-width: 390px;
}
.lesson_text_slayder_mod3 {
  font-family: Poiret One;
  font-size: 22px;
  border-left: 4px solid #b8aa96;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding-left: 4px;
  margin-top: 24px;
  max-width: 565px;
}
.slayder_block_text {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 9.5px;
}
.strelka_parant {
  display: flex;
  justify-content: end;
  margin-top: 32px;
}
.strelka_svg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.strelka {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 274px;
}
.strelka a {
  cursor: pointer;
  color: #1b1818;
  font-size: 18px;
  padding-bottom: 14px;
}
.slayder {
  display: none;
}
.lesson_video_mobile {
  display: none;
}
@media (min-width: 375px) and (max-width: 768px) {
  .lesson_text {
    font-size: 18px;
  }
  .lesson_img {
    display: none;
  }
  .slayder {
    display: block;
    margin-top: 8px;
  }
  .lesson_video {
    display: none;
  }
  .lesson_video_mobile {
    margin-top: 18px;
    display: block;
  }
  .lesson_all {
    margin-top: 32px;
    margin-top: 16px;
  }
  .lesson_number {
    font-size: 24px;
  }
  .lesson_title {
    font-size: 24px;
  }
  .lesson_subtitle {
    margin-top: 12px;
  }
  .about_lesson_slayder {
    margin-top: 18px;
    font-size: 20px;
    max-width: 260px;
  }
  .slayder_block_text {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin-top: 9.5px;
  }
  .strelka_parant {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }
  .lesson_number {
    margin-top: 24px;
  }
  .lesson_text_slayder {
    width: 100%;
    font-size: 18px;
  }
  .lesson_text_slayder_mod {
    width: 100%;
    font-size: 18px;
  }
  .lesson_text_slayder_mod2 {
    width: 100%;
    font-size: 18px;
    margin-top: 12px;
  }
  .lesson_text_slayder_mod3 {
    width: 100%;
    font-size: 18px;
    margin-top: 12px;
  }
  .slayder_block_text {
    flex-direction: column;
  }
}

/* tarif */
.tarifblockandfeedback {
  margin-top: 56px;
}
.allsliders {
  margin: 0 auto;
  width: 1200px;
}
.tarifs {
  background: #1b1818;
  padding-bottom: 56px;
}
.tariftitle {
  padding-top: 64px;
  text-align: center;
  color: #cfc0ab;
  font-family: Cormorant Garamond;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.tarifblock {
  padding-top: 42px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 87px;
}
.tarifleft,
.tarifright {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background: #1b1818;
  box-shadow: 1px -1px 30px 0px #fff inset;
  width: 314px;
  height: 411px;
}
.tariftitleprice {
  padding-top: 34px;
  color: #cfc0ab;
  text-align: center;
  font-family: Cormorant Garamond;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.tariftitlepricecena {
  padding-top: 16px;
  color: #b8aa96;
  text-align: center;
  font-family: Poiret One;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.tariftext {
  padding-top: 32px;
  color: #f9f2e2;
  text-align: center;
  font-family: Poiret One;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.45;
}

.tarifbtn {
  display: flex;
  width: 274px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #cfc0ab;
  border: none;
  color: #1b1818;
  font-family: Cormorant Garamond;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.tarifleft .tarifbtn {
  margin-top: 32px;
}
.tarifright .tarifbtn {
  margin-top: 68px;
}
.allsliders {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 18px;
}
@media (min-width: 375px) and (max-width: 768px) {
  .tariftitle {
    font-size: 24px;
  }
  .tarifright {
    margin-top: 32px;
  }
  .tarifblock {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
